<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <ul>
      <li v-for="todo in todos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{'is-completed' : todo.isCompleted}">{{todo.text}}</span>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        let id = 0;

        const todos = ref([
          { id: id++, text: "밥먹기", isCompleted: true },
          { id: id++, text: "산책하기", isCompleted: false },
          { id: id++, text: "공부하기", isCompleted: false },
          { id: id++, text: "샤워하기", isCompleted: true }
        ])

        return {
          todos,
        }
      }
    });
    app.mount('#app')
  </script>
</body>

</html>